@model IEnumerable<JobsV1.Models.CarRate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Daily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weekly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monthly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KmFree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KmRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarUnit.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Daily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weekly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monthly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KmFree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KmRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarUnit.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
