@model IEnumerable<JobsV1.Models.JobServicePickup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JsTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JsLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobService.Particulars)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JsTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JsLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobService.Particulars)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
