@model JobsV1.Models.AsExpense

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsExpense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrxDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsCostCenter.ccName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsCostCenter.ccName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsExpCategory.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsExpCategory.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsExpBiller.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsExpBiller.ShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
