@model IEnumerable<JobsV1.Models.JobServiceItem>

@{
    ViewBag.Title = "ItemList_byServiceId";
}

<h2>ItemList_byServiceId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobService.Particulars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvItem.ItemCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobService.Particulars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvItem.ItemCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
