@model JobsV1.Models.InvCarGateControl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvCarGateControl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.In_Out_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.In_Out_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odometer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odometer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvItem.ItemCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvItem.ItemCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
