@model IEnumerable<JobsV1.Models.DailyUpdate>

@{
    ViewBag.Title = "DailyUpdateList";
}

<h2>DailyUpdateList</h2>
<table class="table">

@foreach (var item in Model)
{
    <tr class="daily-update-row">
        <td style="padding:14px;">
            [ @Html.DisplayFor(modelItem => item.refId) ]
            <span class="daily-update-data-status">
                @Html.DisplayFor(modelItem => item.StatusCategory)
            </span>
            <span >
                @Html.DisplayFor(modelItem => item.Details)
            </span>
            <br />
            <span class="daily-update-data-date" >
                @Html.DisplayFor(modelItem => item.dtTaken)
            </span>
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Home", "Index","Home")
</p>
