@model IEnumerable<JobsV1.Controllers.cJobOrder>

@{
    ViewBag.Title = "Work in Progress";
}

<h2>Job Orders</h2>

<p>
    @Html.ActionLink("Create New", "jobCreate",null,null) 
    | Work In Progress 
    | @Html.ActionLink("Job Table", "JobTable", "JobMains", new { span = 30 }, null) 
    | @Html.ActionLink("Availability", "Availability", "InvItems")
</p>

<p>
    Filters:
    @Html.ActionLink("OnGoing", "Index", new { sortid = 1 }, new { @id = "ongoing" }) |
    @Html.ActionLink("Previous", "Index", new { sortid = 2 }, new { @id = "previous"}) |
    @Html.ActionLink("Closed", "Index", new { sortid = 3 }, new { @id = "closed" }) 
</p>

<table class="table">

@foreach (var item in Model) {
    <tr >
        <td id="main@(item.Main.Id)">
            <div style="background-color:lightgray;text-align:center;">
                <span style="color:darkblue; font: bold 12px arial, verdana;">@item.Main.JobDate.ToString("MMM-yyyy")</span>
                <br /><span style="color:blue; font: bold 28px arial, verdana;">@item.Main.JobDate.ToString("dd")</span>
                <span style="color:blue; font: bold 12px arial, verdana;">(@item.Main.JobDate.ToString("ddd"))</span>
                <br /><br /><span style="color:red; font: normal 18px arial, verdana;">&nbsp;</span>
                
                @if (@item.Main.AgreedAmt != 0)
                {
                    <span style="color:blue; font: bold 12px arial, verdana;">
                        @string.Format("{0:N}", @item.Main.AgreedAmt)
                    </span>
                    <br />

                }

                @if (@item.Payment != 0)
                {
                    <span style="color:green; font: bold 10px arial, verdana;">
                        @string.Format("{0:N}", @item.Payment)
                    </span>
                    if (item.Main.JobPayments.Where(s => s.JobMainId == item.Main.Id).FirstOrDefault().BankId == 5)
                    {
                        <br />
                        <span>
                            Paid in
                            <img src="~/Images/paypal.png" width="20" height="20" alt="Paid through paypal" />
                        </span>
                    }
                }
                    
            </div>
        </td>

        <td>
            @*
            <div style="background-color:lightgray;">
                @foreach (var cntrTmp in item.ActionCounter)
                {
                    if (cntrTmp.CodeId != null)
                    {
                        string fColor = (cntrTmp.CntItem <= cntrTmp.CntDone ? "darkorange" : "gray");
                    <span style="color:darkorange">&#187;</span>
                    <span style="font-weight:500; color: @fColor">
                        @cntrTmp.CodeDesc
                    </span>  
                    }
                }
            </div>
            *@

            <div>
                <span style="color:darkgreen;font:bold 16px arial, verdana;">
                    @item.Main.Customer.Name
                </span>
                [
                @Html.ActionLink("Customer Details", "CompanyDetail", new { jobid = item.Main.Id, custid = item.Main.CustomerId}) |
                @Html.ActionLink("Edit Job", "JobDetails", new { jobid = item.Main.Id }) |     
               
                <!--
                Html.ActionLink("Change Company", "ChangeCompany", "JobOrder",new { jobid = item.Main.Id }, new { data-toggle = "modal", data-target = "#SupplierPoItemsModal" })                
                -->

                <a href="#" id="catbtn" data-toggle="modal" data-target="#@item.Main.Id" style="margin-bottom:10px;">Change Company</a>
                ]
                <br />
                <span style="font:500 10px;color:darkblue;">
                 
                    @item.Main.Description
                   
                </span>

            </div>
            <div>
                @Html.Partial("PartialViewServiceList", item.Services)
            </div>

            <p>
                @Html.ActionLink("[ Add New Service ]", "JobServiceAdd", new { JobMainId = item.Main.Id }, null)
            </p>

            <p>
                @Html.ActionLink("[ Job Details ]", "JobServices", new { JobMainId = item.Main.Id }, null)
                @Html.ActionLink("[ Booking ]", "BookingDetails", new { id = item.Main.Id }, null)
                @Html.ActionLink("[ Invoice ]", "BookingDetails", new { id = item.Main.Id, iType = 1 }, null)
                <a href="#" id="acctbtn" data-toggle="modal" data-target="#Payment@(item.Main.Id)" style="margin-bottom:10px;" onclick="updateval()" >[ Payment ]</a>
                @Html.ActionLink("[ Send Email ]", "SendEmail", new { jobId = item.Main.Id , mailType = "CLIENT" }, null)
            </p>
         </td>
    </tr>


    <!-- Modal -->
    <div class="modal fade" id="@item.Main.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Company List</h4>
                </div>

                <div class="modal-body" id="modal2-content">

                    <div class="list-group" id="categorylist">

                        @foreach (var list in ViewBag.companyList as IEnumerable<JobsV1.Models.Customer>)
                        {
                            <a href="@Url.Action("ChangeCompany", "JobOrder", new { id = @item.Main.Id, newId = @list.Id },null)" class="list-group-item"> @list.Name</a>
                        }
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal -->
    <div class="modal fade" id="Payment@(item.Main.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Payment Methods</h4>
                </div>

                <div class="modal-body" id="modal2-content">
                    <div class="list-group" id="categorylist">

                        <a href="@Url.Action("Payments", "JobOrder", new { id = item.Main.Id}, null)" class="list-group-item">  Payment Transaction</a>
                        <a href="@Url.Action("PaymentCreate", "JobOrder", new { JobMainId = item.Main.Id, remarks = "Partial Payment" }, null)" class="list-group-item"> Partial Payment</a>
                        <a href="@Url.Action("PaymentCreate", "JobOrder", new { JobMainId = item.Main.Id, remarks = "Full Payment" }, null)" class="list-group-item"> Full Payment</a>
                        <a href="@Url.Action("PaymentCreatePG", "JobOrder", new { JobMainId = item.Main.Id, remarks = "Personal Guarentee" }, null)" class="list-group-item"> Personal Guarantee</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
}
</table>

@Html.Partial("PartialViewJS")


<p>
    @Html.ActionLink("Create New", "jobCreate", null, null)
    | Work In Progress
    | @Html.ActionLink("Job Table", "JobTable", "JobMains", new { span = 30 }, null)
    | @Html.ActionLink("Availability", "Availability", "InvItems")
</p>

<p>
    Filters:
    @Html.ActionLink("OnGoing", "Index", new { sortid = 1 }, new { @id = "ongoing-bot" }) |
    @Html.ActionLink("Previous", "Index", new { sortid = 2 }, new { @id = "previous-bot" }) |
    @Html.ActionLink("Closed", "Index", new { sortid = 3 }, new { @id = "closed-bot" })
</p>

<!-- Modal -->
<div class="modal fade" id="Payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Company List</h4>
            </div>

            <div class="modal-body" id="modal2-content">

                <div class="list-group" id="categorylist2">
                    <a href="@Url.Action("ChangeCompany", "JobOrder", new { id = 1}, null)" id="set1" class="list-group-item"> Partial Payment</a>
                    <a href="@Url.Action("ChangeCompany", "JobOrder", new { id = 1},null)" class="list-group-item"> Full Payment</a>
                    <a href="@Url.Action("ChangeCompany", "JobOrder", new { id = 1},null)" class="list-group-item"> Client Assurance</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            initialize();

            $('html, body').animate({
                scrollTop: $("#main@(ViewBag.mainId)").offset().top - 50
            }, 500);

        });
        
        switch(@(Session["FilterID"] != null? (int)Session["FilterID"]: 1 )){
            case 1:
                $("#ongoing").css("color","black")
                $("#ongoing-bot").css("color","black")
                break;
            case 2:
                $("#previous").css("color","black")
                $("#previous-bot").css("color","black")
                break;
            case 3:
                $("#closed").css("color","black")
                $("#closed-bot").css("color","black")
                break;
            default:

                break;
        }
        
        function updateval(){
            var iDiv = document.getElementbyId('categorylist');

            // Now create and append to iDiv
            var innerDiv = document.createElement('p');
            innerDiv.className = 'list-group-item';

            // The variable iDiv is still good... Just append to it.
            iDiv.appendChild(innerDiv);
        }

    </script>

}
