@model JobsV1.Models.SalesActivity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesActivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesActCode.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesActCode.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesLead.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesLead.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesActStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesActStatu.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
