@model JobsV1.Models.CarReservation


<div class="modal-content" style="min-width:600px;">
    <div class="modal-header">
        <h3 class="modal-title">Car Reservation </h3>

        <a href="#" onclick="backtoMain()"> Back to Main  </a>&bull;
        <a href="#" onclick="backtoPrev()"> Previous      </a>&bull;
        <a href="#" onclick="showForm()"  > Proceed       </a>
      
        <h5 id="modal-text-foot">-</h5>
    </div>

    @Html.Action("CarReserve")

    <div class="modal-footer" id="rsv-footer" style="display:block;">

        <div class="pull-right">
            <button type="button" class="btn btn-default" id="ReservePrev" onclick="backtoPrev()">Previous</button>
            <button type="button" class="btn btn-default" id="ReserveProceed" onclick="showForm()">Proceed</button>
            @Html.ActionLink("Cancel", "Index", "CarRental", null , new { @class = "btn btn-default" })

        </div>
    </div>
</div>


<div class="modal-body row" id="formRenter" style="display:none;padding:0px;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-12">
            <h3>Usage Details</h3>
            <p>Fields with * are required.</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="display:none">
                <label class="control-label col-md-2"> Trans.Date* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DtTrx, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DtTrx, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label class="control-label col-md-2"> Vehicle* </label>
                <div class="col-md-10">
                    @Html.DropDownList("CarUnitId", null, htmlAttributes: new { @class = "form-control", @id = "rnt-carUnit" })
                    @Html.ValidationMessageFor(model => model.CarUnitId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"  onchange="startDate()" >
                <label class="control-label col-md-2"> Start Date* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DtStart, new { htmlAttributes = new { @class = "form-control", @id = "rnt-startdate" } })
                    @Html.ValidationMessageFor(model => model.DtStart, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LocStart, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocStart, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocStart, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Date End* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DtEnd, new { htmlAttributes = new { @class = "form-control", @id = "rnt-startdate" } })
                    @Html.ValidationMessageFor(model => model.DtEnd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LocEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LocEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LocEnd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label class="control-label col-md-2"> Base Rate* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BaseRate, new { htmlAttributes = new { @class = "form-control", @id = "rnt-baseRate" } })
                    @Html.ValidationMessageFor(model => model.BaseRate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label class="control-label col-md-2"> Destination* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Destinations, new { htmlAttributes = new { @class = "form-control", @id = "rnt-destination" } })
                    @Html.ValidationMessageFor(model => model.Destinations, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="display:none">
                <label class="control-label col-md-2"> Used for* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UseFor, new { htmlAttributes = new { @class = "form-control", @id = "rnt-usedfor" } })
                    @Html.ValidationMessageFor(model => model.UseFor, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group" disabled>
                @Html.LabelFor(model => model.EstHrPerDay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" disabled="disabled">
                    @Html.EditorFor(model => model.EstHrPerDay, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EstHrPerDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" disabled>
                @Html.LabelFor(model => model.EstKmTravel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EstKmTravel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EstKmTravel, "", new { @class = "text-danger" })
                </div>
            </div>

            <h3>Renter Details</h3>
            <p>Fields with * are required.
                <label style="color:orangered;display:block" id="dtls-warning"></label>
            </p>
            <hr />
            <div class="form-group" onchange="checkRenterDetails()">
                <label class="control-label col-md-2"> </label>
                <div class="col-md-10">
                </div>
            </div>

            <div class="form-group"  onchange="checkRenterDetails()" >
                <label class="control-label col-md-2"> Name* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterName, new { htmlAttributes = new { @class = "form-control" , @id = "rnt-name" } })
                    @Html.ValidationMessageFor(model => model.RenterName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Company </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterCompany, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RenterCompany, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" onchange="checkRenterDetails()" >
                <label class="control-label col-md-2"> Email* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterEmail, new { htmlAttributes = new { @class = "form-control", @id = "rnt-email" } })
                    @Html.ValidationMessageFor(model => model.RenterEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" onchange="checkRenterDetails()" onemptied="checkRenterDetails()" >
                <label class="control-label col-md-2"> Mobile* </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterMobile, new { htmlAttributes = new { @class = "form-control", @id = "rnt-mobile" } })
                    @Html.ValidationMessageFor(model => model.RenterMobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Address </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RenterAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Facebook </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterFbAccnt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RenterFbAccnt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Linkedln </label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RenterLinkedInAccnt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RenterLinkedInAccnt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default disabled" id="submit-btn" />
                </div>
            </div>

            <div class="form-group" style="visibility:hidden;height:0px;">
                <label class="control-label col-md-2">JobRefNo</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobRefNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobRefNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="visibility:hidden;height:0px;">
                <label class="control-label col-md-2">SelfDrive</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SelfDrive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelfDrive, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--
            Hidden
            -->
            <div style="display:none;">
                <input type="text" name="packageid" id="dtls-packageId" value="1" />
                <input type="text" name="mealAcc" id="dtls-mealsAcc" value="1" />
                <input type="text" name="fuel" id="dtls-fuel" value="1" />
            </div>
            <br />

        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/Job/FormRenter.js"></script>
<script type="text/javascript" src="~/Scripts/CarRental/Reservation_wDriver.js"></script>

<script>
    //initial
    $('#@(ViewBag.id)').attr('checked', true);

    reservationNum =  @(ViewBag.RsvId);

    function displayPackages(){
        var ratePackageCount = 1;
        var carRateAdditional = 0;
        var packageDailyAddon = 0;
        var mealFlag = 0;
        var fuelFlag = 0;
        RentalType = $('input:radio[name=options]:checked').val();
        var days =  $('#rsv-days').val();
        var fuelAuthText = "";
        var MealAuthText = "";
        var TotalAuthText = "";
        var isAuthorized = '@ViewBag.isAuthorize';
        @foreach (var package in ViewBag.Packages as IEnumerable<JobsV1.Models.CarRatePackage>)
        {
            <text>
            var carRate_longhaulrate = 0;
            var carRate_fuel = 0;
            </text>

            //carRatesPackages
            foreach (var carRatesPackages in ViewBag.carRatesPackages as IEnumerable<JobsV1.Models.CarRateUnitPackage>)
            {

                if (@carRatesPackages.CarRatePackageId == @package.Id)
                {
                    <text>
                    if(@(carRatesPackages.CarUnitId) == selectedCar )
                    {
                        ratePackageCount += 1;
                        carRate_longhaulrate = @carRatesPackages.FuelLonghaul;
                        carRate_fuel =  @carRatesPackages.FuelDaily;
                        carRateAdditional = @carRatesPackages.DailyRate;
                        packageDailyAddon = (@carRatesPackages.DailyAddon == null ? 0 : @carRatesPackages.DailyAddon );
                        packageDailyAddon *= days;

                        //handle self drive selected tour
                        if(selectedTour == 1){
                            packageDailyAddon = 0;
                            carRateAdditional = 0;
                        }

                        //fuel
                        if ($('#rsv-fuel').val() == '0') {

                            //hides the calculation if not login
                            if(isAuthorized == '1'){
                                fuelAuthText = ': f:'  + carRate_fuel.toLocaleString() +' lh:' + carRate_longhaulrate.toLocaleString() + ' dr:' + carRateAdditional.toLocaleString() + ' da:' + packageDailyAddon.toLocaleString();
                            }else{
                                fuelAuthText = "";
                            }

                            //display
                            $('#pkg-fuel@(package.Id)').text('by renter + ' + fuelAuthText);

                            //reset values
                            carRate_longhaulrate = 0;
                            fuelFlag = 0;

                        } else {

                            //hides the calculation if not login
                            if(isAuthorized == '1'){
                                fuelAuthText = ' dr:' + carRateAdditional.toLocaleString() + ' da:' + packageDailyAddon.toLocaleString() ;
                            }else{
                                fuelAuthText = "";
                            }

                            $('#pkg-fuel@(package.Id)').text('Included in the Package ' + fuelAuthText);
                            fuelFlag = 1;
                        }
                    }
                    </text>
                }

            }
            <text>
            $('#pkg-days@(package.Id)').text($('#rsv-days').val());

            //meals and accomodation
            if ($('#rsv-meal').val() == '0') {
                $('#pkg-meal@(package.Id)').text('by renter ')
                mealFlag = 0;
            } else {
                    //hides the calculation if not login
                    if(isAuthorized == '1'){

                        //check reservation date if one day or more
                        if($('#rsv-days').val() == 1){
                            MealAuthText =' - m:' + @package.DailyMeals;
                        }else{
                            MealAuthText =' - ( m:' + @package.DailyMeals +' + r:' + @package.DailyRoom +' per day ) + m:' + @package.DailyMeals;
                        }
                    }else{
                        MealAuthText = "in the Package";
                    }

                    $('#pkg-meal@(package.Id)').text('Included ' + MealAuthText)
                    mealFlag = 1;
            }
            </text>

            //rate
            foreach (var rates in ViewBag.CarRates as IEnumerable<JobsV1.Models.CarRate>)
            {
                <text>


                var rate = 0;
                var rateText = 0;
                //check if weekly, monthly or daily
                var days =  $('#rsv-days').val();
                if(days > 21){
                    rate = @rates.Monthly;
                    rate = rate * days;
                    rateText = '(@rates.Monthly / day) '+ rate.toLocaleString() +'';
                }

                if(days > 6 ){
                    if(22 > days){
                        rate = @rates.Weekly;
                        rate = rate * days;
                        rateText = '(@rates.Weekly / day) '+ rate.toLocaleString() +'';
                    }
                }

                if(6 > days){
                    rate = @rates.Daily;
                    rate = rate * days;
                    rateText = '(@rates.Daily / day ) = '+ rate.toLocaleString() +' ';
                }

                var rentalType;
                if(RentalType == "With Driver" ){
                    rentalType = 1;
                }else{
                    rentalType = 0
                }

                var days =  $('#rsv-days').val();
                var adjDays = (days-1);

                //Fuel
                var fuelRate = (Fuel * carRate_fuel * days ) + carRate_longhaulrate;
                fuelRate *= fuelFlag;

                //MealsAcc
                var mealsperDay = (@package.DailyMeals +  @package.DailyRoom) * (adjDays);
                var mealsRate = ((mealsperDay)  + @package.DailyMeals ) * rentalType;
                mealsRate *= mealFlag;

                var addedRates = carRateAdditional + packageDailyAddon;


                //handle self drive selected tour
                if(selectedTour == 1){
                    addedRates = 0;
                }

                //total rate
                var totalRate =rate + fuelRate + mealsRate + carRateAdditional + packageDailyAddon;

                if(selectedCar == '@rates.CarUnitId' ){

                    //hides the calculation if not login
                    if(isAuthorized == '1'){
                        TotalAuthText = 'r:' + rateText   +' + m:'+ mealsRate.toLocaleString() +' + f:'+ fuelRate.toLocaleString()  +' + a:'+ addedRates.toLocaleString()  +' = T:' ;
                    }else{
                        TotalAuthText = "";
                    }

                    $('#pkg-rate@(package.Id)').text( TotalAuthText + ' ' );

                    $('#pkg-total@(package.Id)').text( totalRate.toLocaleString());

                }
        </text>

            }
        }

        $("#table-packages > tbody > tr").hide().slice(0, ratePackageCount).show();
    }

    function displaySummary() {

        var carRate_longhaulrate = 0;
        var carRate_fuel = 0;
        var carRateAdditional = 0;
        var packageDailyAddon = 0;
        var meal = 0;
        var driveracc = 0;
        var rate= 0;
        var mealFlag = 0;
        var fuelFlag = 0;

        var fuelAuthText = "";
        var MealAuthText = "";
        var TotalAuthText = "";
        var isAuthorized = '@ViewBag.isAuthorize';

        //handle self drive selected tour
        if(selectedTour == 1){
            $('#rsv-days').val(30);
        }

        RentalType = $('input:radio[name=options]:checked').val();
        selectedCar = $('input:radio[name=cars]:checked').attr("id");
        NoDays = $('#rsv-days').val();
        MealsAcc = $('#rsv-meal').val();
        Fuel = $('#rsv-fuel').val();

        startDate();

        //display days
        $('#smry-rdays').text(NoDays);

        //display days
        $('#smry-rType').text(RentalType);


        @foreach (var package in ViewBag.Packages as IEnumerable<JobsV1.Models.CarRatePackage>)
        {
            //carRatesPackages
            foreach (var carRatesPackages in ViewBag.carRatesPackages as IEnumerable<JobsV1.Models.CarRateUnitPackage>)
            {
                <text>
                if (@carRatesPackages.CarRatePackageId == selectedTour)
                {
                    if(@(carRatesPackages.CarUnitId) == selectedCar )
                    {
                        carRate_longhaulrate = @carRatesPackages.FuelLonghaul;
                        carRate_fuel =  @carRatesPackages.FuelDaily;
                        carRateAdditional = @carRatesPackages.DailyRate;
                        packageDailyAddon = @carRatesPackages.DailyAddon;
                        packageDailyAddon *= NoDays;

                        //handle self drive selected tour
                        if(selectedTour == 1){
                            packageDailyAddon = 0;
                            carRateAdditional = 0;
                        }

                        //fuel
                        if ($('#rsv-fuel').val() == '0') {
                            //fuel by renter
                            carRate_longhaulrate = 0;
                            fuelFlag = 0;

                            //hides the calculation if not login
                            if(isAuthorized == '1'){
                                fuelAuthText = 'by renter' +   ' + dailyRate:' + carRateAdditional.toLocaleString() + ' + dailyAddon:' + packageDailyAddon.toLocaleString();
                            }else{
                                fuelAuthText = 'by renter';
                            }
                        } else {
                            //fuel included in the package
                            fuelFlag = 1;

                            //hides the calculation if not login
                            if(isAuthorized == '1'){
                                fuelAuthText = 'Included : f:' + carRate_fuel.toLocaleString() + ' + lh:' + carRate_longhaulrate.toLocaleString() +
                                ' + dailyRate:' + carRateAdditional.toLocaleString() + ' + dailyAddon:' + packageDailyAddon.toLocaleString();
                            }else{
                                fuelAuthText = 'Fuel Included in the Package';
                            }

                        }

                        $('#smry-rFuel').text(fuelAuthText);
                    }
                }
                </text>
            }

            <text>
            if(@package.Id == selectedTour){ // get id of the tour
                $('#smry-rtour').text('@package.Description');
                $('#rnt-destination').val('@package.Description'); //for reservation details
                $('#rnt-usedfor').val('@package.Description'); //for reservation details
                meal = @package.DailyMeals;
                driveracc = @package.DailyRoom;

            }

            //meals and accomodation
            if ($('#rsv-meal').val() == '0') {
                $('#smry-rMeal').text('by renter ');
                mealFlag = 0;
            } else {
                //reservation day is 1
                if($('#rsv-days').val() == 1){

                    //hides the calculation if not login
                    if(isAuthorized == '1'){
                        MealAuthText = 'Included - m:' + meal;  //authorized
                    }else{
                        MealAuthText = 'Driver Meals/Accomodation included in the package'; //guest
                    }

                }else{
                    //reservation day greater than 1
                    //hides the calculation if not login
                    if(isAuthorized == '1'){
                        MealAuthText = 'Included - ( m:' + meal +' + r:' + driveracc + ' per day ) + m:' + meal.toLocaleString();  //authorized
                    }else{
                        MealAuthText = 'Driver Meals/Accomodation included in the package'; //guest
                    }
                }
                //display
                $('#smry-rMeal').text(MealAuthText);
                mealFlag = 1;
            }
            </text>

            //get car rate
            foreach (var carlist in ViewBag.CarUnitList as IEnumerable<JobsV1.Models.CarUnit>)
            {
                <text>
                if(@carlist.Id == selectedCar){ // get id of the car
                    $('#smry-rVehicle').text('@carlist.Description');
                    $('#rnt-carUnit').val(selectedCar);  // (id) for reservation details
                }
                </text>
            }

            //rate
            foreach (var rates in ViewBag.CarRates as IEnumerable<JobsV1.Models.CarRate>)
            {
                <text>
                var rate;
                var days;
                if(@rates.CarUnitId == selectedCar){ // get id of the car
                    $('#smry-rVehicleRate').text('@rates.Daily');

                    //check if weekly, monthly or daily
                    days =  $('#rsv-days').val();
                    if(days > 21){
                        rate = @rates.Monthly;
                        rate = rate * days;
                        $('#smry-rVehicleRate').text('(@rates.Monthly  per day ) * '+ days +'  ='+ rate.toLocaleString() +'');
                    }

                    if(days > 6 ){
                        if(22 > days){
                            rate = @rates.Weekly;
                            rate = rate * days;
                            $('#smry-rVehicleRate').text('(@rates.Weekly per day )  * '+ days +'  ='+ rate.toLocaleString() +'');
                        }
                    }

                    if(6 > days){
                        rate = @rates.Daily;
                        rate = rate * days;
                        $('#smry-rVehicleRate').text('(@rates.Daily  per day )  * '+ days +'  ='+ rate.toLocaleString() +'');
                    }

                }

                if(@package.Id == selectedTour){ // get id of the tour

                    var rentalType ;
                    if(RentalType == "With Driver" ){
                        rentalType = 1;

                    }else{
                        rentalType = 0
                    }

                    var adjDays = (days-1);

                    //Fuel
                    var fuelRate = (Fuel * carRate_fuel * days) + carRate_longhaulrate;
                    fuelRate *= fuelFlag;

                    //MealsAcc
                    var mealsperDay = ( meal +  driveracc ) * (adjDays);

                    var mealsRate = (mealsperDay + meal)  * (rentalType);

                    //handle added rate
                    var addedRate = packageDailyAddon + carRateAdditional;

                    //handle self drive selected tour
                    if(selectedTour == 1){
                        addedRate = 0;
                    }

                    mealsRate *= mealFlag;
                    //total rate
                    var totalRate =rate + fuelRate + mealsRate  + addedRate;

                    $('#rnt-baseRate').val(totalRate);
                    if(selectedCar == '@rates.CarUnitId' ){

                        //hides the calculation if not login
                        if(isAuthorized == '1'){
                            TotalAuthText = 'r:' + rate.toLocaleString()  +' + m:'+ mealsRate.toLocaleString() +' + f:'+
                                fuelRate.toLocaleString()  +' + a:'+ addedRate.toLocaleString() +' = '+  totalRate.toLocaleString();  //authorized
                        }else{
                            TotalAuthText = totalRate.toLocaleString(); //guest
                        }

                        $('#smry-rtotal').text(TotalAuthText);

                    }
                }

                </text>
            }//end foreach rates

        }//end foreach packages

    }//end foreach function


    function clearTable(){
        var new_tbody = document.createElement('table-packages');
        populate_with_new_rows(new_tbody);
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
    }


    function rentalTypeChange() {
        $('#btn-rentalUnit > #car3 > #3').attr('checked', true);
        radiobtn = document.getElementById("3");
        radiobtn.checked = true;

    }

    /**
    * Handles Start Date of Reservation
    * start date must be 2 days from today
    * and end date must be 1 day from start date by default
    * 
    */

    function startDate(){
        var sdate = Date.parse($('input[name="DtStart"]').val());
        var edate = Date.parse($('input[name="DtEnd"]').val());
        var today = new Date();
        
        today.setDate(today.getDate()+2);

        //reset time
        var Ssdate = getDateFormat(new Date(sdate));
        var Sedate = getDateFormat(new Date(edate));
        var Stoday = getDateFormat(today);

        //start date is greater than or equal to today
        if(Date.parse(Ssdate) >= Date.parse(Stoday))
        {
            console.log(Ssdate > Stoday);
            console.log("OK - SDATE: "+ Ssdate +" >= TODAY: "+ Stoday);
            
        //start date is less than today
        }else if(Date.parse(Ssdate) < Date.parse(Stoday)){
            
            $('input[name="DtStart"]').val(Stoday);

            console.log(Ssdate <= today); //do not accept payment
            console.log("INVALID - SDATE: "+ Ssdate +" < TODAY: "+ Stoday);
        }
        
        //handles end date, add 1 day from start date
        if(Ssdate >= Sedate){
            var endt = new Date(Ssdate);

            endt.setDate(endt.getDate()+2);
            
            var Edate = getDateFormat(endt);

            $('input[name="DtEnd"]').val(getDateFormat(endt));
            console.log("INVALID - Ssdate: "+ Ssdate +" > Sedate: "+ Sedate);
        }
    }
    
    /**
    * Handles Start Date of Reservation
    * start date must be 2 days from today
    * and end date must be 1 day from start date by default
    * 
    */

    function getDateFormat(currentDt){
        
        var mm = currentDt.getMonth() + 1;
        var dd = currentDt.getDate();
        var yyyy = currentDt.getFullYear();
        var fDate = mm + '/' + dd + '/' + yyyy + " 9:00 AM";

        return fDate;
    }
    
    //next popup on formpackages package list
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            placement: 'right',
            html: 'true',
            content :  '<button class="btn btn-primary" onclick="showForm();">Proceed</button>'
        });   
        

        $('[data-toggle="popover"]').on('click', function (e) {
            $('[data-toggle="popover"]').not(this).popover('hide');
           
        });
    });
</script>

