@model JobsV1.Models.JobMain

@{
    ViewBag.Title = "Proforma Invoice";
    IEnumerable<JobsV1.Models.JobServices> services = ViewBag.Services;
    IEnumerable<JobsV1.Models.JobItinerary> itineraries = ViewBag.Itinerary;
    IEnumerable<JobsV1.Models.JobNote> jNotes = ViewBag.jNotes;
    IEnumerable<JobsV1.Models.JobPayment> payments = ViewBag.Payments;

    decimal dContractAmt = 0;
    decimal dQuotedAmt = 0;
    decimal dPaidAmt = 0;

    string sDocTitle = "";

    if (Model.JobStatusId == 1)
    {
        sDocTitle = "PROFORMA";
    }
    if (Model.JobStatusId == 2)
    {
        sDocTitle = "INVOICE";
    }
    if (Model.JobStatusId == 3)
    {
        sDocTitle = "INVOICE";
    }
    if (Model.JobStatusId == 4)
    {
        sDocTitle = "INVOICE";
    }

}


<table>
    <tr>
        <td valign="top">
            <img src="~/Images/@ViewBag.sLogo" width="135" />
        </td>
        <td>
            <span style="font:bold 21px arial, verdana;">@ViewBag.sCompany</span>
            <span style="font:12px arial, verdana;color:royalblue">
                <br />@ViewBag.sLine1
                <br />@ViewBag.sLine2
                <br />@ViewBag.sLine3
                <br />@ViewBag.sLine4
                </span>
</td>
    </tr>
</table>
<hr />

<h2>@sDocTitle</h2>

<table>
    <tr>
        <th>
            Job Ref #
        </th>
        <td>
            @Html.DisplayFor(model => model.Id)
        </td>
    </tr>
    <tr>
        <th>
            Date
        </th>
        <td>
            @Model.JobDate.ToString("MMM dd yyyy")
        </td>
    </tr>
    <tr>
        <th valign="top">
            Account
        </th>
        <td>
            @Html.DisplayFor(model => model.Description)
            <br />@Html.DisplayFor(model => model.Customer.Name)
            <br />Pax: @Html.DisplayFor(model => model.NoOfPax) | Days: @Html.DisplayFor(model => model.NoOfDays)
            | Remarks: @Html.DisplayFor(model => model.JobRemarks)
        </td>
    </tr>
</table>


<h3>Services</h3>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Particulars
        </th>
        <th>Amount</th>
    </tr>
    @foreach (var item in services)
    {
        dContractAmt += (item.SupplierAmt == null ? 0 : (decimal)item.SupplierAmt);
        dQuotedAmt += (item.SupplierAmt == null ? 0 : (decimal)item.QuotedAmt);
        JobsV1.Models.JobServicePickup pickup = item.JobServicePickups.FirstOrDefault(); 

        <tr>
            <td style="white-space:nowrap">
                @Html.DisplayFor(modelItem => item.Service.Name)

                @{ 
                    string sStart = ((DateTime)item.DtStart).ToString("MMM-dd-yyyy (ddd)");
                    string sEnd = ((DateTime)item.DtEnd).ToString("MMM-dd-yyyy (ddd)");
                }
                <p>
                    Start: @sStart
                    <br />
                    End: @sEnd
                </p>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particulars)
                <br />Item: @Html.DisplayFor(modelItem => item.SupplierItem.Description)
                <br />Remarks: @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedAmt)
            </td>
        </tr>
    }

</table>

@if (payments.Count() > 0)
{
<h3>Payments</h3>
<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Particulars
        </th>
    </tr>

    @foreach (var item in payments)
    {
        dPaidAmt += item.PaymentAmt; 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmt)
            </td>
            <td>
                @item.DtPayment.ToShortDateString()
                &nbsp;[@Html.DisplayFor(modelItem => item.Bank.BankName)
                &nbsp;@Html.DisplayFor(modelItem => item.Remarks)]
            </td>
        </tr>
    }

</table>
}


<div class="jumbotron">
        <h2>Summary</h2>
        <p>
            @*Expenses: @dContractAmt*@
            <table>
                <tr>
                    <td>Total Due:</td>
                    <td align="right">@dQuotedAmt.ToString("##,###.00")</td>
                </tr>
                @if (Model.JobStatusId == 2 || Model.JobStatusId == 3 || Model.JobStatusId == 4)
                {
                <tr>
                    <td>Partial:</td>
                    <td align="right">@dPaidAmt.ToString("##,###.00")</td>
                </tr>
                <tr>
                    <td>Balance:</td>
                    @{  Decimal dBalance = (dQuotedAmt - dPaidAmt); }
                    <td align="right">@dBalance.ToString("##,###.00")</td>
                </tr>
                }
            </table>
        </p>
</div>

<div>
    <p>
        @*Expenses: @dContractAmt*@
        <table>
            <tr>
                <td style="vertical-align:bottom;">Prepared By:</td>
                <td><br /><br /><u style="font-size:large;vertical-align:bottom;">    Elvie S. Salvatierra        </u></td>
            </tr>
            <tr>
                <td style="vertical-align:bottom;">Signature:</td>
                <td><br /><img src="~/Images/Signature-1.png" width="60px;" /></td>
            </tr>
            <tr>
                <td style="vertical-align:bottom;">Date:</td>
                <td><br /><u style="font-size:large;vertical-align:bottom;"> @System.DateTime.Now.ToString("MMM dd, yyyy") </u></td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>

        </table>
    </p>
</div>
<br />




